
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}
body {
    background-color: teal;
}
.main-container {
    width: 800px;
    height: 500px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: darkcyan;
    background-image: url(https://picsum.photos/800/500/?random);
    background-repeat: no-repeat;
}

input,textarea {
    margin-bottom:10px;
    margin-left:10px;
    padding: 5px;
    border-radius: 10px;
}

#res {
    height: 50px;
    width: 300px;
}
